@import "../../common.scss";

$pfpImageSize: 150px;
$pfpImageWidthBusiness: 266px;

.user-settings-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.h1-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 40px 0;
  width: 100%;
}

.profile-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: $colorP17;
  border-radius: 20px;
  box-shadow: $boxShadowDefault;
  width: 70%;
  min-width: 500px;
}

.profile-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.profile-tags-elem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;

  width: 100%
}

.tags-select-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.select-div {
  width: 60%;
}

.profile-edit-elem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  padding: 20px;

  width: 100%;
}

.image-frame {
  width: $pfpImageSize;
  height: $pfpImageSize;
  max-width: $pfpImageSize;
  max-height: $pfpImageSize;

  object-fit: cover;
  border-radius: 50%;
}

.image-frame-business {
  width: $pfpImageWidthBusiness;
  height: $pfpImageSize;
  max-width: $pfpImageWidthBusiness;
  max-height: $pfpImageSize;

  object-fit: cover;
  border-radius: 10px;
}

.pfp-image-elem-main {
  display: flex;
  justify-content: center;
  align-items: center;

  width: $pfpImageSize;
  height: $pfpImageSize;
  min-width: $pfpImageSize;
  min-height: $pfpImageSize;
  border-radius: 50%;

  background: $colorP18;
}

.pfp-image-elem-main-business {
  display: flex;
  justify-content: center;
  align-items: center;

  width: $pfpImageWidthBusiness;
  height: $pfpImageSize;
  min-width: $pfpImageWidthBusiness;
  min-height: $pfpImageSize;

  background: $colorP18;
  border-radius: 10px;
}

.pfp-image-elem {
  display: flex;
  justify-content: center;
  align-items: center;

  width: $pfpImageSize;
  height: $pfpImageSize;
  min-width: $pfpImageSize;
  min-height: $pfpImageSize;
  border-radius: 50%;
}

.pfp-image-elem-business {
  display: flex;
  justify-content: center;
  align-items: center;

  width: $pfpImageWidthBusiness;
  height: $pfpImageSize;
  min-width: $pfpImageWidthBusiness;
  min-height: $pfpImageSize;
}

.pfp-image-elem:hover + .pfp-edit-elem, .pfp-edit-elem:hover {
  display: flex;
}
.pfp-image-elem-business:hover + .pfp-edit-elem-business, .pfp-edit-elem-business:hover {
  display: flex;
}

.pfp-edit-elem {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: $hoverBackground;

  width: $pfpImageSize;
  height: $pfpImageSize;
  min-width: $pfpImageSize;
  min-height: $pfpImageSize;
  border-radius: 50%;
}

.pfp-edit-elem-business {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: $hoverBackground;

  width: $pfpImageWidthBusiness;
  height: $pfpImageSize;
  min-width: $pfpImageWidthBusiness;
  min-height: $pfpImageSize;

  border-radius: 10px;
}

.profile-top-div-info {
  display: flex;
  flex-direction: column;
  margin: 0 30px 0 30px;
}

.profile-top-div-info span {
  padding: 5px 0 5px 0;
  color: black;
  font-size: 20px;
}
