<div class="main-page-body-div">
  <div class="user-settings-body">
    <div class="h1-div">
      <h1 class="main-page-h1">Your account settings</h1>
    </div>

    <div class="profile-card-body">
      <div class="profile-card">
        <div class="pfp-image-elem-main">
          <div class="pfp-image-elem">
            <img class="image-frame" src="{{currentMemberService.member?.pfpImgUrl}}" alt="pfp"
                 *ngIf="currentMemberService.member?.hasPfpImg()">
            <fa-icon [class]="['user-icon']" [icon]="faUser" *ngIf="!currentMemberService.member?.hasPfpImg()"></fa-icon>
          </div>

          <div class="pfp-edit-elem" (click)="openModal()">
            <fa-icon [class]="['camera-icon']" [icon]="faCamera"></fa-icon>
          </div>
        </div>
        <div class="profile-top-div-info">
          <span class="text-font-700">{{ currentMemberService.member?.username }}</span>
          <span>{{ currentMemberService.member?.username }}</span>
          <span>{{ currentMemberService.member?.email }}</span>
        </div>
      </div>
      <div class="profile-tags-elem">
        <div class="tags-select-div">
          <div class="select-div">
            <select class="default-input-3" [(ngModel)]="selectedTagId" (click)="onTagSelected()">
              <option *ngFor="let tag of availableTags"
                      [value]="tag.tagId">
                {{ tag.name }}
              </option>
            </select>
          </div>
          <div class="clickable-icon-elem-3" (click)="saveOnClick()">
            <fa-icon [icon]="faFloppyDisk" [class]="['clickable-icon-3']"></fa-icon>
          </div>
        </div>
        <div class="tags-container">
          <div class="tag-element" *ngFor="let tag of getSelectedTags()">
            <span>{{tag.name}}</span>
            <div class="clickable-icon-elem-4" (click)="onDeleteTag(tag)">
              <fa-icon [icon]="faXmark" [class]="['clickable-icon-4']"></fa-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="profile-edit-elem">
        <div class="clickable-icon-elem-1" (click)="routeTo('/user-account/connection-security')">
          <fa-icon [class]="['clickable-icon-1']" [icon]="faPenToSquare"></fa-icon>
        </div>
      </div>
    </div>
  </div>
</div>
<app-upload-pfp-modal
  [isModalOpen]="isModalOpen"
  [user]="user"
  (onModalChangeEmitter)="closeModal($event)"
></app-upload-pfp-modal>
