<div class="main-page-body-div">
  <div class="header-elem">
    <div class="header-icon-elem">
      <fa-icon [class]="['header-icon']" [icon]="researchNavigationItem.getIcon()"></fa-icon>
    </div>
    <h1 class="main-page-h1">Research</h1>
  </div>
  <div class="separation-line-2"></div>
  <div class="search-div">
    <input class="default-input-3" placeholder="Search By Username..." [(ngModel)]="searchString">
  </div>
  <div class="member-banner-container">
    <div class="member-banner-body-div" *ngFor="let member of getFilteredFoaf()">
      <app-member-banner
        [style.width.%]="50"
        [member]="member">
      </app-member-banner>
    </div>
  </div>

</div>
