<form (onResize)="handleFooterTopMinValue($event, 0)" (ngSubmit)="onSubmit()">
  <div class="sign-form-body">
    <div class="sign-form-body-div">
      <app-logo></app-logo>
      <div class="sign-form-elem" *ngIf="!isPasswordReset()">
        <h1>Reset your password</h1>
      </div>
      <div class="sign-form-elem" *ngIf="isPasswordReset()">
        <h3>Your password has been successfully reset, you can now <button class="href-button" (click)="routeTo('/login')">Login</button></h3>
      </div>

      <div class="sign-form-elem" *ngIf="!isPasswordReset()">
        <label for="newPasswordInput">New Password:</label>
        <input type="password" id="newPasswordInput" [(ngModel)]="newPasswordInput" name="newPassword-input">
        <span class="validation-error-span" *ngIf="isPasswordInvalid()">{{ passwordInvalidMessage }}</span>
      </div>
      <div class="sign-form-elem" *ngIf="!isPasswordReset()">
        <label for="newPasswordConfirmationInput">Enter your new password again:</label>
        <input type="password" id="newPasswordConfirmationInput" [(ngModel)]="newPasswordConfirmInput"
               name="newPasswordConfirmationInput">
        <span class="validation-error-span" *ngIf="isPasswordSame">Your new password has to be different from your old password.</span>
        <span class="validation-error-span" *ngIf="isPasswordsNotMatch()">{{ passwordsNotMatchMessage }}</span>

      </div>

      <div class="separation-line-small" *ngIf="!isPasswordReset()"></div>

      <div class="sign-form-elem" *ngIf="!isPasswordReset()">
        <re-captcha (resolved)="resolved($event)"></re-captcha>
        <label class="validation-error-span centered-span" *ngIf="isCaptchaInvalid()">{{ notRobotMessage }}</label>
      </div>

      <div class="sign-form-elem" *ngIf="!isPasswordReset()">
        <button class="auth-button" type="submit">Change Password</button>
      </div>
    </div>
  </div>
</form>
<app-footer
  [footerTopMinValue]="footerTopMinValue"
  [position]="position"
></app-footer>
