<div class="header-body-div text-font-700" (onResize)="handleResize($event)">
  <div class="header-elem">
    <div class="burger-menu-elem">
      <div class="burger-menu-icon-elem" (click)="burgerMenuOnClick()">
        <fa-icon [class]="['burger-menu-icon']" [icon]="faBars"></fa-icon>
      </div>
      <div class="drop-down-menu" [style.top.px]="dropDownMenuTop" *ngIf="showMenu">
        <div class="dpm-title-elem">
          <span *ngIf="currentMemberService.isLoggedIn()"
                class="main-title-span">Welcome, {{ currentMemberService.user?.username }}!</span>
          <span *ngIf="!currentMemberService.isLoggedIn()" class="main-title-span">Welcome To Twitter v2!</span>
          <div class="clickable-icon-elem-1" (click)="xMarkOnClick()">
            <fa-icon [icon]="faXmark" [class]="['clickable-icon-1']"></fa-icon>
          </div>
        </div>
        <div class="dpm-logged-out-elem" *ngIf="!currentMemberService.isLoggedIn()">
          <div class="logged-out-button-elem" *ngIf="!currentMemberService.isLoggedIn()">
            <button class="default-btn" type="button" (click)="loginOnClick()">Login</button>
          </div>
          <div class="logged-out-button-elem" *ngIf="!currentMemberService.isLoggedIn()">
            <button class="default-btn" type="button" (click)="registerOnClick()">Register</button>
          </div>
        </div>
        <div class="dpm-func-menu" *ngIf="currentMemberService.isLoggedIn()">
          <div class="dpm-func-elem-div" *ngFor="let profileMenuItem of profileMenuItems">
            <div class="dpm-func-elem" (click)="routeToAndCloseBurgerMenu(profileMenuItem)">
              <div class="dpm-func-icon-elem">
                <fa-icon [icon]="profileMenuItem.icon" [class]="['func-icon']"></fa-icon>
              </div>
              <span class="dpm-func-span">{{ profileMenuItem.name }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-elem logo-title-elem" (click)="routeToHome()">
    <img class="logo-img" src="assets/logo.png" alt="logo">
    <div class="title-elem">
      <span>Twitter v2</span>
    </div>
  </div>
  <div class="navigation-container">
    <div class="navigation-elem-div" *ngFor="let navigationItem of navigationItems "
         (click)="routeTo(navigationItem.getLink())">
      <div class="icon-elem-1">
        <fa-icon [icon]="navigationItem.getIcon()" [class]="['icon-1']"></fa-icon>
      </div>
      <span>{{ navigationItem.getName() }}</span>
    </div>
  </div>
  <div class="header-elem" *ngIf="currentMemberService.isLoggedIn()">
    <div class="tweet-button" (click)="tweetOnClick()">
      <div class="icon-elem-1">
        <fa-icon [icon]="faPlus" [class]="['icon-1']"></fa-icon>
      </div>
      <span>Tweeeeeet</span>
    </div>
  </div>
  <div class="header-elem login-button-elem" *ngIf="!currentMemberService.isLoggedIn()">
    <button class="login-button" type="button" (click)="loginOnClick()">Login</button>
  </div>
  <div class="header-elem register-button-elem" *ngIf="!currentMemberService.isLoggedIn()">
    <button class="register-button" type="button" (click)="registerOnClick()">Register</button>
  </div>
</div>


