<div class="site-footer-main-div" [ngStyle]="
{
'position': position,
'top': footerTopValue +'px',
'padding-top': footerTopPadding,
}
" (window:resize)="onResize($event)">
  <div class="site-footer-top-div">
    <div class="site-footer-column">
      <a href="#">GIFT CARDS</a>
      <a href="#">FIND A STORE</a>
      <a href="#">Twitter v2 Journal</a>
      <a href="#">BECOME A MEMBER</a>
      <a href="#">STUDENT DISCOUNT</a>
      <a href="#">COMMENTS</a>
      <a href="#">PROMO CODES</a>
    </div>
    <div class="site-footer-column">
      <span>HELP</span>
      <a href="#">Order Status</a>
      <a href="#">Shipping and deliveries</a>
      <a href="#">Returns</a>
      <a href="#">Payment methods</a>
      <a href="#">Contact us</a>
      <a href="#">Help - Promo codes</a>
    </div>
    <div class="site-footer-column">
      <span>ABOUT US</span>
      <a href="#">News</a>
      <a href="#">Careers</a>
      <a href="#">Investors</a>
      <a href="#">Sustainable development</a>
      <a href="#">Mobile app</a>
      <a href="#">Informative quiz</a>
    </div>
    <div id="site-footer-last-column" class="site-footer-column">
      <div class="site-footer-img-div">
        <a href="#"><img src="/assets/social/twitter.png" alt="Twitter logo"></a>
        <a href="#"><img src="/assets/social/facebook.png" alt="Facebook logo"></a>
        <a href="#"><img src="/assets/social/instagram.png" alt="Instagram logo"></a>
      </div>
    </div>
  </div>
  <div class="site-footer-bottom-div">
    <div id="site-footer-row-1" class="site-footer-row">
      <a href="#">Guides</a>
      <a href="#">Terms of Use</a>
      <a href="#">General conditions of sale</a>
      <a href="#">Legal notices</a>
    </div>
    <div id="site-footer-row-2" class="site-footer-row">
      <div class="columns" id="column-1">
        <span>Paris, France</span>
        <span>© 2022 Twitter v2, Inc. All rights reserved</span>
      </div>
      <div class="columns" id="column-2">
        <a href="#">Privacy and Cookies Policy</a>
        <a href="#">Cookie settings</a>
      </div>
    </div>
  </div>
</div>
