<div (onResize)="handleFooterTopMinValue($event, 200)" class="main-page-body-div">
  <div class="empty-elements-body-div" *ngIf="recommendPostsByTags.length == 0">
    <div class="empty-elements-div">
      <span class="title-span">Find New Posts By Liking Other Posts!</span>
    </div>
  </div>

  <div class="posts-container" *ngFor="let post of recommendPostsByTags">
    <app-post
      [style.width.%]="100"
      [post]="post">
    </app-post>
  </div>

  <ng-container *ngIf="recommendPostsByTags.length == 0">
    <div class="posts-container" *ngFor="let post of allPosts">
      <app-post
        [style.width.%]="100"
        [post]="post">
      </app-post>
    </div>
  </ng-container>
  <div class="bottom-button-div">
    <button class="default-btn" (click)="fetchPosts()">Fetch More Posts</button>
  </div>
</div>
<app-footer
  [footerTopMinValue]="footerTopMinValue"
  [position]="position"
></app-footer>
