@import 'app/component/common.scss';

body {
  margin: 0;
}
/*SCROLLBAR STUFF*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--colorP15);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--colorP11);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--colorP10);
}
