<div class="main-page-body-div">
  <div class="header-elem">
    <div class="header-icon-elem">
      <fa-icon [class]="['header-icon']" [icon]="siteGraphNavigationItem.getIcon()"></fa-icon>
    </div>
    <h1 class="main-page-h1">Site Graph</h1>
  </div>
  <div class="separation-line-2"></div>
  <div class="site-graph-body-div">
    <div class="site-graph-div">
      <div id="site-graph-main"></div>
    </div>
  </div>

  <div class="site-graph-body-div">
    <div class="site-graph-div">
      <div id="site-graph"></div>
    </div>
    <div class="controls-div">
      <div class="select-div">
        <label>Start member:</label>
<!--        <select class="default-input-3" [(ngModel)]="startMemberId">-->
<!--          <option *ngFor="let member of allMembers"-->
<!--                  [value]="member.getMemberId()">-->
<!--            {{ member.username }}-->
<!--          </option>-->
<!--        </select>-->
        <p-autoComplete name="auto-complete"
                        [(ngModel)]="selectedMemberStart"
                        [placeholder]="'Search Member'"
                        [inputStyleClass]="'default-input-1'"
                        [styleClass]="'default-input-1-container'"
                        [style.width.%]="100"
                        [suggestions]="foundMembersStart"
                        (onKeyUp)="onSubmitMember($event)"/>
      </div>
      <div class="select-div">
        <label>End member:</label>
<!--        <select class="default-input-3" [(ngModel)]="endMemberId">-->
<!--          <option *ngFor="let member of allMembers"-->
<!--                  [value]="member.getMemberId()">-->
<!--            {{ member.username }}-->
<!--          </option>-->
<!--        </select>-->
      </div>
      <div class="buttons-div">
        <button class="default-btn" (click)="onFindShortestPath()">Find Shortest Path</button>
        <button class="default-btn" (click)="onReload()">Reset</button>
      </div>
      <span class="validation-error-span">{{ errorMsg }}</span>
    </div>
  </div>
</div>

