<div class="main-page-body-div">
  <div class="header-elem">
    <div class="header-icon-elem">
      <fa-icon [class]="['header-icon']" [icon]="siteGraphNavigationItem.getIcon()"></fa-icon>
    </div>
    <h1 class="main-page-h1">Site Graph</h1>
  </div>
  <div class="separation-line-2"></div>
  <div class="site-graph-body-div">
    <div class="site-graph-main-div">
      <div id="site-graph-main"></div>
    </div>
  </div>

  <div class="site-graph-body-div">
    <div class="site-graph-div">
      <div id="site-graph"></div>
    </div>
    <div class="controls-div">
      <div class="select-div">
        <label>Start member:</label>
        <div class="autocomplete-div">
          <p-autoComplete name="auto-complete"
                          [(ngModel)]="selectedMemberStart"
                          [placeholder]="'Search Member'"
                          [inputStyleClass]="'default-input-3'"
                          [styleClass]="'default-input-1-container'"
                          [style.width.%]="100"
                          [suggestions]="foundMembersStart"
                          (onKeyUp)="onSubmitStartMember($event)"/>
        </div>
      </div>
      <div class="select-div">
        <label>End member:</label>
        <div class="autocomplete-div">
          <p-autoComplete name="auto-complete"
                          [(ngModel)]="selectedMemberEnd"
                          [placeholder]="'Search Member'"
                          [inputStyleClass]="'default-input-3'"
                          [styleClass]="'default-input-1-container'"
                          [style.width.%]="100"
                          [suggestions]="foundMembersEnd"
                          (onKeyUp)="onSubmitMemberEnd($event)"/>
        </div>
      </div>
      <div class="buttons-div">
        <button class="default-btn" (click)="onFindShortestPath()">Find Shortest Path</button>
        <button class="default-btn" (click)="onReload()">Reset</button>
      </div>
      <span class="validation-error-span">{{ errorMsg }}</span>
    </div>
  </div>
</div>

