@import "../common.scss";

.site-graph-body-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  margin-bottom: 40px;
}

.site-graph-div, .site-graph-main-div {
  display: block;
  justify-content: center;
  align-items: center;


  box-shadow:  $boxShadowDefault;
  border-radius: 15px;

  overflow-x: auto;
  overflow-y: auto;
}

.site-graph-div {
  height: 800px;
  width: 800px;
}

.site-graph-main-div {
  height: 800px;
  width: 800px;
}

.controls-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 30%;
  white-space: nowrap;
}

.buttons-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.select-div {
  justify-content: space-around;
  width: 100%
}

.autocomplete-div {
  width: 50%;
}
